# Build directory
/build
/build-mingw

# Test directories
/test-windows-build

# Binaries
/release/fiend
/release/mapeditor

# Save files
/release/save/*.sav

# Test binaries
/tests/analyze_*
/tests/calculate_*
/tests/check_*
/tests/parse_*
/tests/test_*

# Log files
*.log
release/debug.log